@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*{
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 0px;
    padding-top: 0px;
    box-sizing: border-box;
}

.parts{
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 1rem;
}
.navbar{
    padding-top: 2rem;
}
.navbar-left{
    padding-top: 1rem;
}
.first-list{
    display: flex;
    color: rgb(36,45,82);
     /* converted hsl to rgb */
     font-family: 'Be Vietnam Pro', sans-serif;
     /* font-size: 1rem; */
}
.navbar-list{
    padding-right: 1rem;
    padding-left: 1rem;
    list-style-type: none;
    cursor: pointer;

}
.navbar-right button, .button-da{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: #f25f3a;
    color: white;
    border-color: white;
    border: 0px;
     font-size: 0.8rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.navbar-right button:hover{
background-color: #ec9078;
}

.navbar-list:hover{
   color: #9095A7;
}


.midmidmid{
    top: 0px;
    left: 0px;
    height: 40rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.midmidmid-first{
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    /* padding-left: 1; */
    /* padding-top: 1rem; */
}

.top{
    padding-top: 0.3rem;
}

.midmidmid-second{
    padding-bottom: 2.3rem;
    color:#9095A7
}


.stuff{
    display: flex;
    justify-content: space-between;
    
}

.stuff-down{
    color: #9095A7;
}

.inner{
    display: flex;  
}


.about{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(36,45,82);
       height: 40rem;
}
.stuff{
    padding-top: 4rem;
}

.stuff-left{
    display: flex;
    flex-direction:column;
    padding-left: 6.5rem;
}

.stuff-up{
    font-size: 2.4rem;
    font-weight: bolder;
    padding-bottom: 1.7rem;
}



.inner{
    display: flex;
}

/* .button-inner{
    padding-top: 2rem;
}*/

.button-inner{
    padding-right: 3rem;
} 

.space{
    padding-top: 0.3rem;
}

.entire{
    background-image: url("../background.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.about{
    background-image: url("../background.svg");
    background-repeat: no-repeat;
    background-position:left;
    background-size: contain;
    background-position-y: 25%;
   
}

.box{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    color: rgb(36,45,82);

     font-family: 'Be Vietnam Pro', sans-serif;
    /* align-items:center ; */
}
@keyframes slider{
    0%{
        left: 0;
    }
    35%{
        left: 0;
    }
    70%{
        left: -100%;
    }
    100%{
        left: -100%;
    }
}
.comments{
    display: grid;
    grid-auto-flow:column ;
    grid-auto-columns: 35%;
    overflow: scroll;
    text-align: center;
    animation-name: slider;
    animation-duration: 3s;
}
.left-box{
    padding-left: 1rem;
    
}
.comments::-webkit-scrollbar{
    display: none;
}
.image img{
    height: 5rem;
}

.image{
    padding-bottom: 2rem;
}
.name{
    color: rgb(36,45,82);
    font-weight: bolder;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 1rem;
}

.valuable-comms{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #9095A7;
}
.wordings{
    font-size: 1rem;
}

.bottom-button{
    display: flex;
    justify-content: center;
}
.bottom{
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.last-part{
    display: flex;
    background-image: url("../whitebackground.svg");
   /* background-position-x: 100px; */
   background-repeat: no-repeat;
   background-position: -1px;

    background-color: #f25f3a;
    justify-content: space-evenly;
    height: 12rem;
      /* background-position: -100px  ; */
    background-position-x: 200px;

}
.last-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    
    text-align: left;
}

.button-bottom{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: #f25f3a;
    border-color: white;
    border: 0px;
    font-size: 0.8rem;
    font-family: 'Be Vietnam Pro', sans-serif; 
}

.last-right{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-position-x: 200px;
    background-position-y:  50px ;
}

.last-right button:hover{
    color: #eeb8ab;
}

.last-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(12, 16, 32);
    height: 13rem;
    padding-top: 3.7rem;
}


.footer-second,.footer-third{
    display: flex;
    flex-direction: column;  
}


.footer-second a,.footer-third a{
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
   
}

.footer-second a:hover,.footer-third a:hover{
    color: #f25f3a;
}


.social-media{
    padding-top: 3.5rem;
}

.footer-second a,.footer-third a{
    padding-bottom: 1rem;
}
.form-top{
    display: flex;
    
}

input{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
}

.social-media img{
    padding-left: 0.7rem;
}


.button-first ,.button-bottom ,.buton-buton{
    box-shadow: 0px 5px 10px #f25f3a;
}

.data h3{
    padding-bottom: 1rem;
}

.data{
    padding-bottom: 2rem;
    /* color: #9095A7; */
}
.space{
color: #9095A7;
}

.left-left{
    text-align: left;
}

.list{
    list-style-type: none;
    font-size: 2rem;
}

.end{
    color: #9095A7;
    font-family: 'Be Vietnam Pro', sans-serif;
   padding-top: 2rem;
   font-size: 0.8rem;
}

.end-card{
    color: #9095A7
}

.hambergur-menu{
    display: none;
}


.endgame{
    display: none;
}

.radios{
    display: none;
}

.button-da:hover{
    background-color: #eeb8ab;
}
.error{
    display: flex;
    /* padding-left: rem; */
    font: italic;
    font-style: italic;
    color: red;
    padding-left: 0.6rem;
    font-size: 0.9rem;

}

#span{
    color: white;
}







